# 💻 vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# 🔐 secrets
.env*
.private*
!.env
!.env.sample

# 🎶 music
src/assets/music-player/*.ogg
src/assets/music-player/*.mp3

# 🚧 temporary
util/

# 📜 logs
logs/

# 📦 dependencies
node_modules/